@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.review .container {
    padding-left: 20px !important;
    padding-right: 55px !important;
}

.review h4 {
    font-size: 18px;
    font-family: Poppins;
    font-weight: 400 !important;
}

.review h5 {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 600 !important;
    /* text-align: left; */
}

.review h6 {
    font-family: Poppins;
    font-size: 14px;
    font-weight: 600 !important;
}

.review p {
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400 !important;
}

.review .row-container {
    border: 1px solid #EBEBEB;
}

.review .btn-edit {
    background-color: transparent;
    border: none;
    color: #02BCBC;
}

.review .btn-edit:hover {
    cursor: pointer;
}

.review #parent-image-container {
    margin-top: -35px;
}

.review .image-container {
    width: 120px;
    height: 100px;
    background: #EDEDED;
}

.review .parent-txt-container {
    display: flex;
    gap: 17%;
}

.review .child-txt-container {
    /* border: 1px solid red; */
    width: 285px;
}